*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
}


/*  header  */

.topbar-user-avater{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

/*  container  */
.container{
	min-height: 400px !important;
}

/*   Footer  */



